/* Webfont: Retronic-Regular */@font-face {
    font-family: 'Retronic';
    src: url('Retronic.woff2') format('woff2'), /* Modern Browsers */
         url('Retronic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

