{% extends "base.html" %}

{% block title %}Matchup{% endblock %}

{% block content %}
    <div class="matchup-container">
        <!-- Team 1 -->
        <div class="team">
            <h2>{{team1name}}</h2>
            <p>Score: <span id="team1score">{{ team1score }}</span></p>
            <table>
                <thead>
                    <tr>
                        <th>Sector</th>
                        <th>Name</th>
                        <th>Ticker</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in first_user_sectors %}
                    <tr>
                        {% for sector, abbs in sector_abbs.items %}{% if sector == stock.sector %}<td>{{ abbs }}</td>{% endif %}{% endfor %}
                        <td>{{ stock.name }}</td>
                        <td>({{ stock.ticker }})</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    {% for stock in first_user_flex %}
                    <tr>
                        <td>FLEX</td>
                        <td>{{ stock.name }}</td>
                        <td>({{ stock.ticker }})</td>
                        <td>${{ stock.points }}</td>
                    </tr>
                    {% endfor %}
                    {% for stock in first_user_bench %}
                    <tr>
                        <td>BENCH</td>
                        <td>{{ stock.name }}</td>
                        <td>({{ stock.ticker }})</td>
                        <td>${{ stock.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="vs-text">VS</p>

        <!-- Team 2 -->
        <div class="team">
            <h2>{{team2name}}</h2>
            <p>Score: <span id="team2score">{{team2score}}</span></p>
            <table>
                <thead>
                    <tr>
                        <th>Sector</th>
                        <th>Name</th>
                        <th>Ticker</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in second_user_sectors %}
                    <tr>
                        {% for sector, abbs in sector_abbs.items %}{% if sector == stock.sector %}<td>{{ abbs }}</td>{% endif %}{% endfor %}
                        <td>{{ stock.name }}</td>
                        <td>({{ stock.ticker }})</td>
                        {% for istock, points in stock_prices.items %}{% if istock == stock %}<td>{{ points }}</td>{% endif %}{% endfor %}
                    </tr>
                    {% endfor %}
                    {% for stock in second_user_flex %}
                    <tr>
                        <td>FLEX</td>
                        <td>{{ stock.name }}</td>
                        <td>({{ stock.ticker }})</td>
                        <td>${{ stock.points }}</td>
                    </tr>
                    {% endfor %}
                    {% for stock in second_user_bench %}
                    <tr>
                        <td>BENCH</td>
                        <td>{{ stock.name }}</td>
                        <td>({{ stock.ticker }})</td>
                        <td>${{ stock.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}