{% extends "base.html" %}
{% load static %}
{% block title %}Matchup{% endblock %}

{% block morestyle %}
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <!-- Moment.js (required for chartjs-adapter-moment) -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.2/moment.min.js"></script>
  <!-- Chart.js adapter for Moment.js -->
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>

  <style>
    /* Overall matchup layout */
    .matchup-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .team {
        width: 45%;
        margin-bottom: 1rem;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 10px; /* Rounded corners */
    }

    /* New team header container */
    .team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.score {
    margin-left: auto; /* Pushes score to the right */
    text-align: right;
    min-width: 60px; /* Ensures alignment consistency */
}

    .team-header h2 {
        margin: 0;
    }

    /* Score styling */
    .score {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .vs-text {
        font-size: 2rem;
        font-weight: bold;
        margin: 2rem;
        color: #C20E1A;
    }

    /* Table Styling */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
        border-radius: 8px; /* Rounded corners for the table */
        overflow: hidden;
    }

    table thead th {
        padding: 8px 5px;
        text-align: left;
        background-color: #C20E1A;
        color: #FAF1E7;
    }

    table tbody td {
        padding: 8px 5px;
        border-bottom: 1px solid #ddd;
    }

    /* Color negative in red, positive in green */
    .text-red {
      color: red;
    }
    .text-green {
      color: #32CD32;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="matchup-container">
        <!-- Team 1 -->
        <div class="team">
            <div class="team-header">
              <h2>
                <a href="{% url 'team' %}{{ team1id }}">{{ team1name }}</a>
              </h2>
              <span class="score">
                {% if team1score < 0 %}
                  <span class="text-red">{{ team1score }}</span>
                {% elif team1score > 0 %}
                  <span class="text-green">{{ team1score }}</span>
                {% else %}
                  <span>{{ team1score }}</span>
                {% endif %}
              </span>
            </div>
            {% if first_user_id == user.id %}
                <p>(You)</p>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Sector</th>
                        <th></th> <!-- Blank header for logo column -->
                        <th>Name</th>
                        <th>Ticker</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in first_user_sectors %}
                    <tr>
                        {% for sector, abbs in sector_abbs.items %}
                          {% if sector == stock.sector %}
                            <td>{{ abbs }}</td>
                          {% endif %}
                        {% endfor %}
                        <td>
                            <img src="{% static 'imgs/logos/' %}{{ stock.ticker }}.png" 
                                 alt="{{ stock.ticker }} Logo" 
                                 style="width:30px; height:auto;"/>
                        </td>
                        <td><a href="{% url 'stock_detail' stock.ticker %}">{{ stock.name }}</a></td>
                        <td>{{ stock.ticker }}</td>
                        {% for ticker, points in stock_scores.items %}
                          {% if ticker == stock.ticker %}
                            {% if points < 0 %}
                              <td class="text-red">{{ points }}</td>
                            {% elif points > 0 %}
                              <td class="text-green">{{ points }}</td>
                            {% else %}
                              <td>{{ points }}</td>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                    {% for stock in first_user_flex %}
                    <tr>
                        <td>FLEX</td>
                        <td>
                            <img src="{% static 'imgs/logos/' %}{{ stock.ticker }}.png" 
                                 alt="{{ stock.ticker }} Logo" 
                                 style="width:30px; height:auto;"/>
                        </td>
                        <td><a href="{% url 'stock_detail' stock.ticker %}">{{ stock.name }}</a></td>
                        <td>{{ stock.ticker }}</td>
                        {% for ticker, points in stock_scores.items %}
                          {% if ticker == stock.ticker %}
                            {% if points < 0 %}
                              <td class="text-red">{{ points }}</td>
                            {% elif points > 0 %}
                              <td class="text-green">{{ points }}</td>
                            {% else %}
                              <td>{{ points }}</td>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                    {% for stock in first_user_bench %}
                    <tr>
                        <td>BENCH</td>
                        <td>
                            <img src="{% static 'imgs/logos/' %}{{ stock.ticker }}.png" 
                                 alt="{{ stock.ticker }} Logo" 
                                 style="width:30px; height:auto;"/>
                        </td>
                        <td><a href="{% url 'stock_detail' stock.ticker %}">{{ stock.name }}</a></td>
                        <td>{{ stock.ticker }}</td>
                        {% for ticker, points in stock_scores.items %}
                          {% if ticker == stock.ticker %}
                            {% if points < 0 %}
                              <td class="text-red">{{ points }}</td>
                            {% elif points > 0 %}
                              <td class="text-green">{{ points }}</td>
                            {% else %}
                              <td>{{ points }}</td>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="vs-text">VS</p>

        <!-- Team 2 -->
        <div class="team">
            <div class="team-header">
              <h2>
                <a href="{% url 'team' %}{{ team2id }}">{{ team2name }}</a>
              </h2>
              <span class="score">
                {% if team2score < 0 %}
                  <span class="text-red">{{ team2score }}</span>
                {% elif team2score > 0 %}
                  <span class="text-green">{{ team2score }}</span>
                {% else %}
                  <span>{{ team2score }}</span>
                {% endif %}
              </span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Sector</th>
                        <th></th>
                        <th>Name</th>
                        <th>Ticker</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in second_user_sectors %}
                    <tr>
                        {% for sector, abbs in sector_abbs.items %}
                          {% if sector == stock.sector %}
                            <td>{{ abbs }}</td>
                          {% endif %}
                        {% endfor %}
                        <td>
                            <img src="{% static 'imgs/logos/' %}{{ stock.ticker }}.png" 
                                 alt="{{ stock.ticker }} Logo" 
                                 style="width:30px; height:auto;"/>
                        </td>
                        <td><a href="{% url 'stock_detail' stock.ticker %}">{{ stock.name }}</a></td>
                        <td>{{ stock.ticker }}</td>
                        {% for ticker, points in stock_scores.items %}
                          {% if ticker == stock.ticker %}
                            {% if points < 0 %}
                              <td class="text-red">{{ points }}</td>
                            {% elif points > 0 %}
                              <td class="text-green">{{ points }}</td>
                            {% else %}
                              <td>{{ points }}</td>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                    {% for stock in second_user_flex %}
                    <tr>
                        <td>FLEX</td>
                        <td>
                            <img src="{% static 'imgs/logos/' %}{{ stock.ticker }}.png" 
                                 alt="{{ stock.ticker }} Logo" 
                                 style="width:30px; height:auto;"/>
                        </td>
                        <td><a href="{% url 'stock_detail' stock.ticker %}">{{ stock.name }}</a></td>
                        <td>{{ stock.ticker }}</td>
                        {% for ticker, points in stock_scores.items %}
                          {% if ticker == stock.ticker %}
                            {% if points < 0 %}
                              <td class="text-red">{{ points }}</td>
                            {% elif points > 0 %}
                              <td class="text-green">{{ points }}</td>
                            {% else %}
                              <td>{{ points }}</td>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                    {% for stock in second_user_bench %}
                    <tr>
                        <td>BENCH</td>
                        <td>
                            <img src="{% static 'imgs/logos/' %}{{ stock.ticker }}.png" 
                                 alt="{{ stock.ticker }} Logo" 
                                 style="width:30px; height:auto;"/>
                        </td>
                        <td><a href="{% url 'stock_detail' stock.ticker %}">{{ stock.name }}</a></td>
                        <td>{{ stock.ticker }}</td>
                        {% for ticker, points in stock_scores.items %}
                          {% if ticker == stock.ticker %}
                            {% if points < 0 %}
                              <td class="text-red">{{ points }}</td>
                            {% elif points > 0 %}
                              <td class="text-green">{{ points }}</td>
                            {% else %}
                              <td>{{ points }}</td>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
